Origin: XBian
Package: xbian-package-repo
Version: __DATE__
Section: repository
Priority: optional
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Conflicts: update-notifier-common
Replaces: xbian-update, base-files, xbian-package-initramfs-tools
Description: XBian repository package __DATE__. It installs XBian public apt keys and sources files.
