Origin: XBian
Package: xbian-package-repo
Version: 1.0.9
Section: repository
Pre-Depends: lsb-release
Priority: optional
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Replaces: xbian-update
Description: XBian repository package. It installs XBian public apt keys and sources files.
