Origin: XBian
Package: xbian-package-repo
Version: 20150709-0
Section: repository
Priority: optional
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Conflicts: update-notifier-common
Replaces: xbian-update
Description: XBian repository package 20150709-0. It installs XBian public apt keys and sources files.
